---
const {carousel_images, head, subhead, desc} = Astro.props.home;

const instagramIcon = () => {
    return (
        <svg class="icon" viewBox="0 0 24 24"><path d="M7 1c-1.657 0-3.158 0.673-4.243 1.757s-1.757 2.586-1.757 4.243v10c0 1.657 0.673 3.158 1.757 4.243s2.586 1.757 4.243 1.757h10c1.657 0 3.158-0.673 4.243-1.757s1.757-2.586 1.757-4.243v-10c0-1.657-0.673-3.158-1.757-4.243s-2.586-1.757-4.243-1.757zM7 3h10c1.105 0 2.103 0.447 2.828 1.172s1.172 1.723 1.172 2.828v10c0 1.105-0.447 2.103-1.172 2.828s-1.723 1.172-2.828 1.172h-10c-1.105 0-2.103-0.447-2.828-1.172s-1.172-1.723-1.172-2.828v-10c0-1.105 0.447-2.103 1.172-2.828s1.723-1.172 2.828-1.172zM16.989 11.223c-0.15-0.972-0.571-1.857-1.194-2.567-0.754-0.861-1.804-1.465-3.009-1.644-0.464-0.074-0.97-0.077-1.477-0.002-1.366 0.202-2.521 0.941-3.282 1.967s-1.133 2.347-0.93 3.712 0.941 2.521 1.967 3.282 2.347 1.133 3.712 0.93 2.521-0.941 3.282-1.967 1.133-2.347 0.93-3.712zM15.011 11.517c0.122 0.82-0.1 1.609-0.558 2.227s-1.15 1.059-1.969 1.18-1.609-0.1-2.227-0.558-1.059-1.15-1.18-1.969 0.1-1.609 0.558-2.227 1.15-1.059 1.969-1.18c0.313-0.046 0.615-0.042 0.87-0.002 0.74 0.11 1.366 0.47 1.818 0.986 0.375 0.428 0.63 0.963 0.72 1.543zM17.5 7.5c0.552 0 1-0.448 1-1s-0.448-1-1-1-1 0.448-1 1 0.448 1 1 1z"></path></svg>
    )
}
const facebookIcon = () => {
    return (
        <svg class="icon" viewBox="0 0 32 32"><path d="M19 6h5v-6h-5c-3.86 0-7 3.14-7 7v3h-4v6h4v16h6v-16h5l1-6h-6v-3c0-0.542 0.458-1 1-1z"></path></svg>
    )
}
const whatsappIcon = () => {
    return (
        <svg class="icon" viewBox="0 0 32 32"><path d="M27.281 4.65c-2.994-3-6.975-4.65-11.219-4.65-8.738 0-15.85 7.112-15.85 15.856 0 2.794 0.731 5.525 2.119 7.925l-2.25 8.219 8.406-2.206c2.319 1.262 4.925 1.931 7.575 1.931h0.006c0 0 0 0 0 0 8.738 0 15.856-7.113 15.856-15.856 0-4.238-1.65-8.219-4.644-11.219zM16.069 29.050v0c-2.369 0-4.688-0.637-6.713-1.837l-0.481-0.288-4.987 1.306 1.331-4.863-0.313-0.5c-1.325-2.094-2.019-4.519-2.019-7.012 0-7.269 5.912-13.181 13.188-13.181 3.519 0 6.831 1.375 9.319 3.862 2.488 2.494 3.856 5.8 3.856 9.325-0.006 7.275-5.919 13.188-13.181 13.188zM23.294 19.175c-0.394-0.2-2.344-1.156-2.706-1.288s-0.625-0.2-0.894 0.2c-0.262 0.394-1.025 1.288-1.256 1.556-0.231 0.262-0.462 0.3-0.856 0.1s-1.675-0.619-3.188-1.969c-1.175-1.050-1.975-2.35-2.206-2.744s-0.025-0.613 0.175-0.806c0.181-0.175 0.394-0.463 0.594-0.694s0.262-0.394 0.394-0.662c0.131-0.262 0.069-0.494-0.031-0.694s-0.894-2.15-1.219-2.944c-0.319-0.775-0.65-0.669-0.894-0.681-0.231-0.012-0.494-0.012-0.756-0.012s-0.694 0.1-1.056 0.494c-0.363 0.394-1.387 1.356-1.387 3.306s1.419 3.831 1.619 4.1c0.2 0.262 2.794 4.269 6.769 5.981 0.944 0.406 1.681 0.65 2.256 0.837 0.95 0.3 1.813 0.256 2.494 0.156 0.762-0.113 2.344-0.956 2.675-1.881s0.331-1.719 0.231-1.881c-0.094-0.175-0.356-0.275-0.756-0.475z"></path></svg>
    )
}

---
<section class="home">
    <div class="headline" data-sal="slide-up">
      <h1>{head}</h1>
      <h3>{subhead}</h3>
      <p>{desc}</p>

      <div class="button--container">
      <button data-color="red" class="headline--button button">Shop now</button>
      <br/>
      <div class="social-profile">
        <button class="transparent--button">{instagramIcon()}</button>
        <button class="transparent--button">{facebookIcon()}</button>
        <button class="transparent--button">{whatsappIcon()}</button>
      </div>
      </div>

    </div>
    <div class="head--image">
        <div class="image--container">
           {carousel_images.map((homeImage, i) =>(
               <img src={homeImage.src} class="slideshow--img"
               style={`--order: ${i+1}`}
                alt={`Picture of cake ${i+1}`}/>
           ))}
        </div>
    </div>
</section>

<style>
.button--container {
    margin: 1rem 0rem;
    width: 100%;
    text-align: left;
}
.home {
    display: grid;
    gap: 1vw;
    grid-template-columns: 50% 50%;
    place-items: center;
    overflow: hidden;
    padding-bottom: 3%;
}
.headline {
    display: grid; place-items: center;padding: 5%; text-align: left; gap: 1%;
}
.headline h1{
    font-family: 'Charmonman',sans-serif;
}
.headline h3 {
    font-family: 'Cormorant Infant', Verdana, Geneva, serif;
    font-weight: 300;
    font-size: clamp(2rem, calc( 12px + 3vw ), 3rem);
    margin: 1rem 0;
    color: #404040;
    width: 100%;
}
.headline h1 {
    padding: 5px;
    font-size: clamp(2.550rem, calc( 12px + 3.300vw ), 4.450rem);
    line-height: 1.5;
}
.headline p{
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #404040;
    font-size: 1.2rem;
}
.image--container {
    position: relative;
    display: flex;
    max-width: 600px;
}
.head--image {
    /* clip-path: polygon(6% 0, 100% 0, 100% 50%, 100% 100%, 7% 100%, 0% 50%); */
    clip-path: ellipse(71% 80% at 71% 50%);
    position: relative;
    overflow: hidden;
}
.head--image img {
    max-width: 600px;
    animation: Slide 25s linear infinite;
}
.image--container:after {
  --light-gradiant: rgb(255 255 255 / 25%);
  --light-bg: #fff;
  content:'';
  position:absolute;
  left:0; top:0;
  width:100%; height:100%;
  display:inline-block;
  background: -moz-linear-gradient(top, var(--light-gradiant) 70%, var(--light-bg) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, var(--light-bg)), color-stop(100%,var(--light-gradiant))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, var(--light-gradiant) 70%, var(--light-bg) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, var(--light-gradiant) 70%,var(--light-bg) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, var(--light-gradiant) 70%,var(--light-bg) 100%); /* IE10+ */
  background: linear-gradient(to bottom, var(--light-gradiant) 70%,var(--light-bg) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002f4b', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
.social-profile {
    display: flex;
    gap: 3vw;
    margin: 1rem 0rem;
}
.social-profile button {
    padding: 6px;
    border-radius: 50%;
    box-shadow: 1px 1px 4px 1px #bdbdbd66;
}
.social-profile button:hover {
    background: #ffb9b98c;
}
@media (max-width: 780px) {
    .home {
        grid-template-columns: auto;
    }
    .head--image {
        grid-row: 1;
        clip-path: none;
    }
    .social-profile {
    justify-content: space-around;
    }
}
</style>
